.container{
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 70%;
    background-color: aquamarine;
    display: block;
}

.texto-com-imagem {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    gap: 20px; /* Espaçamento entre os elementos */
}

.texto-com-imagem img {
    width: 30%;
}

.texto-com-imagem p:first-child {
    flex: 1; /* Mantém o primeiro parágrafo ocupando o espaço restante */
}

.texto-com-imagem p:nth-child(3) {
    flex: 1; /* Faz o "Mais texto..." ocupar o espaço à direita */
}
