body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

:root{
    --cor-base: rgb(92, 115, 121);
    --josefin: 'Josefin Sans', Arial, Helvetica, sans-serif;
    --playfair: 'Playfair Display', Times, serif;
}

.content-wrapper {
    width: 100%;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center; 
  }

.container {
    width: 70%;
    background-color: white; 
    display: flex;
    flex-direction: column;
}

/* Links -------------------------------------------------------*/

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

/* Back to top -------------------------------------------------- */
.btt{
    background-color: var(--cor-base);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 10;
    opacity: 1; /* Começa totalmente visível */
    transition: opacity 0.3s ease-in-out; /* Transição suave */
}

.btt:hover{
    filter: brightness(1.5);
}

.btt i{
    height: 100%;
    width: 100%;
    display: flex;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2.7em;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


/* Home ----------------------------------------------------------*/
#home{
    padding: 30px 0 30px 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 30px;
}

.texto-home{
    width: 500px;
    height: 500px;
    font-family: var(--playfair);
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.texto-home h1 {
    font-size: 2.5em;
}

.texto-home p{
    font-size: 1.1em;
}

.foto-home img{
    display: block;
    width: 400px;
    border-radius: 20px;
}

#home button {
    padding: 15px 35px;
    background-color: var(--cor-base);
    font-size: 16px;
    font-family: var(--josefin);
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 80px;
}

#home button:hover{
    filter: brightness(1.2);
    transform: scale(1.03);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

@media (max-width: 1200px) and (min-width: 992px){

    .foto-home img{
        width: 350px;
    }
}

@media (max-width: 992px) and (min-width: 768px)  {

    #home{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }
    
    #home button {
        margin-top: 0px;
    }

    .container {
        width: 100%;
        background-color: white; 
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .foto-home {
        display: flex;
        justify-content: center; 
        align-items: center; 
        overflow: hidden; 
        height: auto; 
        max-height: 100%; 
    }

    .foto-home img {
        max-width: 100%;
        max-height: 100%;
        height: auto; 
        width: auto;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        display: flex;
    }

    #home{
        display: flex;
        text-align: center;
        justify-content: center;
        height: auto;
        gap: 0;
    } 

    .foto-home img{
        display: none;
    }
}

/* Sobre ---------------------------------------------------------*/

#sobre{
    background-color:  #f0f0f0;
    justify-content: space-around;
    display: flex;
    gap: 30px;
}

.content-sobre{
    width: 500px;
    font-family: var(--playfair);
    font-style: italic;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 30px 0 30px 0;
}

.content-sobre h1{
    font-size: 2.5em;
}

.content-sobre p{
    font-size: 1.2em;
}

.foto-sobre{
    padding: 30px 0 30px 0;
    border-radius: 20px;
}

.foto-sobre img{
    display: block;
    width: 400px;
    border-radius: 20px;
}

@media (max-width: 1200px) and (min-width: 992px){

    .foto-sobre img{
        width: 300px;
    }
    
    .content-sobre{
        font-size: 0.9em;
    }

    .content-sobre h1{
        margin: 5px; 
    }
}

@media (max-width: 992px) and (min-width: 768px){

    #sobre{
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }

    .content-sobre{
        margin: auto;
        width: 500px;
        height: auto;
    }

    .content-sobre h1{
        margin: 15px;
    }

    .foto-sobre {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .foto-sobre img {
        display: flex;
        width: 300px;
        padding: 15px;
    }
}

@media screen and (max-width: 768px){
    
    #sobre{
        display: flex;
        align-items: start;
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    
    .content-sobre {
        width: 500px;
        box-sizing: border-box; 
        padding: 15px;
        text-align: center;
    }
    
    .foto-sobre img{
        display: none;
    }

    .content-sobre h1{
        margin: 15px;
    }

    .content-sobre p{
        margin: 15px 0;
    }
}

/* Agende --------------------------------------------------------*/
.agende{
    display: flex;
    background-color: var(--cor-base);
    height: 100px;
    align-items: center;
    justify-content: space-around;
    color: #f0f0f0;
}

.agende button {
    padding: 15px 35px;
    background-color: #f0f0f0;
    font-size: 16px;
    font-family: var(--josefin);
    font-weight: 600;
    color: var(--cor-base);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.agende button:hover{
    filter: brightness(0.9);
    transform: scale(1.03);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.agende a{
    color: var(--cor-base);
}

.agende i{
    font-size: 1.3em;
    margin: 0 8px;
}

@media screen and (max-width: 768px){
    .agende button {
        padding: 15px 30px;
        font-size: 16px;
    }

    .agende p{
        display: none;
    }
}

/* Depoimentos --------------------------------------------------*/
#depoimentos{
    padding: 0 0 45px 0;
    width: 100%;
    align-items: center;
    display: flex;
    margin: 0;
}

.carousel {
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin: 0;
}

.slide {
    min-width: 100%;
    padding: 60px;
    box-sizing: border-box;
    text-align: center;
}

/* Setas de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #00000054;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 50px;
    z-index: 1;
    background-color: rgba(153, 205, 50, 0);
}

.prev { 
    left: 0px; 
}

.next { 
    right: 0px; 
}

.dots {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background-color: rgb(61, 61, 61);
}

.quote{
    font-style: italic;
    font-size: 22px;
    font-family: var(--playfair);
}

.autor{
    font-size: 18px;
    font-weight: bold;
}

@media screen and (max-width: 768px){

    .carousel {
        position: relative;
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
}

/* Serviços ------------------------------------------------------*/

#servicos{
    background-color:  #f0f0f0;
    justify-content: space-around;
    display: flex;
    gap: 30px;
}

.content-servicos{
    width: 800px;
    font-family: var(--playfair);
    font-style: italic;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 30px 0 30px 0;
}

.content-servicos h1{
    font-size: 2.5em;
    margin: 0;
}

.content-servicos p{
    font-size: 1.2em;
}

@media (max-width: 1200px) and (min-width: 992px){

    .content-servicos{
        font-size: 0.9em;
    }

    .content-servicos h1{
        margin: 5px; 
    }
}

@media (max-width: 992px) and (min-width: 768px){

    #servicos{
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }

    .content-servicos{
        margin: auto;
        width: 500px;
        height: auto;
    }

    .content-servicos h1{
        margin: 15px;
    }
}

@media screen and (max-width: 768px){
    
    #servicos{
        display: flex;
        align-items: start;
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    
    .content-servicos {
        width: 500px;
        box-sizing: border-box; 
        padding: 15px;
        text-align: center;
    }

    .content-servicos h1{
        margin: 15px;
    }
}

/* FAQ ---------------------------------------------------------------*/
#faq {
    margin: 30px auto;
    width: 90%;
}

.text-faq{
    text-align: center;
    font-family: var(--playfair);
    font-style: italic;
    font-weight: 500;
    font-size: 34px;
}

.text-faq h1{
    margin: 0 0 30px 0;
}

.faq-item {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.9s ease;   
    background-color: var(--cor-base);
        
}


.faq-question {
    color: #FFF;
    background-color: var(--cor-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 1.1em;
    cursor: pointer;
}

.faq-question:hover{
    filter: brightness(1.5) !important;
}


.faq-question p {
    margin: 0;
}

.plus-icon {
    cursor: pointer;
    font-size: 1.5em;
    transition: transform 0.9s ease;
}

.faq-answer {
    background-color: var(--cor-base);
    filter: brightness(1.9);
    display: none;
    padding: 15px;
    font-size: 1em;
}

.faq-item.expanded {
    max-height: 200px;
}

.faq-item.expanded .faq-answer {
    display: block;
}

.faq-item.expanded .plus-icon {
    transform: rotate(135deg);
}

@media (max-width: 1200px) and (min-width: 992px){

    #faq {
        width: auto;
        margin: 10px;
    }
}

@media (max-width: 992px) and (min-width: 768px)  {

    #faq {
        width: 80%;
    }
}

@media (max-width: 768px) and (min-width: 456px)  {

    #faq {
        width: 70%;
    }
}

/* Contato------------------------------------------------------------ */
#contato{
    text-align: start;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}

#contato h1 {
    font-family: var(--playfair);
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    padding: 0px 0px 30px 0;
    margin: 0px;
    flex-wrap: nowrap;
}

#contato a{
    color: #3b3b3b;
}

.contato-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato-item {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.contato-item:hover {
    background-color: var(--cor-base);
    filter: brightness(2.3);
}

.contato a:link{
    color: rgb(88, 88, 88);
}

.redes-sociais{
    display: flex;
    color: rgb(88, 88, 88);
    justify-content: space-around;
    box-sizing: border-box;
}

.redes-sociais ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 20px 0 5px 0;
}

.redes-sociais ul li {
    font-size: 30px;
}

.redes-sociais ul li a{
    display: flex;
    color: var(--cor-base);
    position: relative;
}

.redes-sociais a:link,
.redes-sociais a:visited {
    color: #000;
    padding: 15px;
    border-radius: 50px;
}

.redes-sociais a:hover{
    background-color: var(--cor-base);
    filter: brightness(2.3);
    transition: 0.3s ease-in-out;
}

/* Rodapé ------------------------------------------------------------*/
footer {
    position: relative;
    z-index: 2;
    height:6em;
    background-color: var(--cor-base);
    font-family: var(--josefin);
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media (max-width: 992px) and (min-width: 768px){
    footer{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {

    footer {
        display: block;
        font-size: 14px;
        text-transform:inherit;
        text-align: center;
        justify-content: center;
    }
    
    footer span{
        align-items: center;
    }

    footer #nome {
        display: block;
    }

    footer #crp {
        margin-top: 0.3em;
        display: block;
    }

    footer {
        white-space: pre-wrap;
    }
}