body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1.3;
}

:root{
    --cor-base: #db8e87;
    --josefin: 'Josefin Sans', Arial, Helvetica, sans-serif;
    --cambria:  'Cambria', Times, serif;
}

.content-wrapper {
    width: 100%;
    font-family: var(--cambria) !important;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center; 

  }

.container {
    width: 70%;
    background-color: white; 
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.5em;
}

/* Links -------------------------------------------------------*/

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

/* Back to top -------------------------------------------------- */
.btt{
    background-color: var(--cor-base);
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 100px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 10;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out; 
}

.btt:hover{
    transform: scale(1.02);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 1 !important;
}

.btt i{
    height: 100%;
    width: 100%;
    display: flex;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2.7em;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#footer-container {
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
}

.post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px 20px;
    gap: 40px;
    background-color: white;
}

.post{
    background-color: #f0f0f0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.03);
    width: 30%;
    min-height: 380px;
    max-height: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-out;
}

.post:hover{
    transform: scale(1.03);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.post span{
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 1.1em;
    display: block;
    margin: 0px 15px 15px 15px;
}

.post a {
    display: inline-block;
    background: F0F0F0;
    text-decoration: none;
}

.post img{
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
}

.post h2 {
    color: #272727;
    font-size: 1.5em;
    margin: 15px;
}

.post p {
    color: #666;
    height: 95px;
    font-size: 1em;
    margin: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; 
}

@media (max-width: 1250px) {

    .blog-box{
        width: 80%;
    }

    .post{
        width: 40%;
    }
}

@media (max-width: 992px) {
    .blog-box{
        width: 70%;
    }
}

@media (max-width: 765px) {

    .blog-box{
        margin: 20px 10px;
        box-sizing: border-box;
        width: 100%;
    }

    #blog{
        padding: 20px;
    }
}

@media (max-width: 695px){

    .post{
        width: 400px;
        height: auto;
    }

    .post p{
        margin: 15px 15px 0px 15px;
    }

    .post-container{
        gap: 40px;
    }
}