body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    color: #222;
    line-height: 1.3;
}

:root{
    --cor-base: #db8e87;
    --josefin: 'Josefin Sans', Arial, Helvetica, sans-serif;
    --cambria:  'Cambria', Times, serif;
}

.content-wrapper {
    width: 100%;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center; 
  }

.container {
    width: 70%;
    background-color: white; 
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.5em;
}

/* Links -------------------------------------------------------*/

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

/* Back to top -------------------------------------------------- */
.btt{
    background-color: var(--cor-base);
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 100px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 10;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out; 
}

.btt:hover{
    transform: scale(1.02);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 1 !important;
}

.btt i{
    height: 100%;
    width: 100%;
    display: flex;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2.7em;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

/* --------------------------- estilo post -------------------------------- */

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    margin: 0;
    padding: 0;
}

#footer-container {
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
}

.post-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: column;
    padding-bottom: 40px;
}

.btn-voltar {
    width: 100%;
    text-align: left;
    color: #2b2b2b;
    padding: 20px 0px 0 30px;
    font-size: 26px;
}

.btt{
    display: none;
}

.btn-voltar:hover{
    color: #2b2b2b;
    opacity: 0.7;
}

.destaque-texto {
    font-size: 22px !important; 
    font-weight: 600;
    border-left: 3px solid var(--cor-base);
    padding: 0 15px 0 15px !important;
    margin: 0 0 0 15px !important;
    color: red;
}

.post-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #ffffff;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--cambria);
}

.post-box span{
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 1.1em;
    display: block;
    margin: 0px 20px 20px 20px;
}

.post-img{
    width: 100%;
    height: 500px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    object-fit: contain;
    z-index: 0;
}

.post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.post-text{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10%;
    background-color: #f0f0f0;
    padding: 5px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.post-text img{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.data-post {
    padding-bottom: 15px;
    margin: 0;
    font-weight: 500;
    display: inline-block;
    color: #2b2b2b;
}

.data-post i{
    font-size: 14px;
}

.tempo-leitura {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.post-text p{
    color: #646464;
    font-size: 1.1rem;
    margin: 5px 0 10px 0;
    line-height: 1.3;
}

.post-text h2{
    font-size: 26px;
    color: #272727;
    margin: 30px 0 20px 0;
}

@media (max-width: 1250px) {

    .post-box{
        width: 80%;
    }
}

@media (max-width: 992px) {
    .post-box{
        width: 70%;
    }
}

@media (max-width: 765px) {

    .container {
        width: 100%;
    }
    
    .post-box{
        box-sizing: border-box;
        width: 100%;
    }

    .btn-voltar{
        padding: 20px 20px 0 20px;
    }

    #blog{
        padding: 20px;
    }

    .post-text{
        top: -20px;
        width: 75%;
    }
    

}