body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    color: #222;
}

:root{
    --cor-base: #db8e87;
    --josefin: 'Josefin Sans', Arial, Helvetica, sans-serif;
    --cambria:  'Cambria', Times, serif;
}

.content-wrapper {
    width: 100%;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center; 
  }

.container {
    width: 70%;
    background-color: white; 
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 2.5em;
}


/* Links -------------------------------------------------------*/

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

/* Back to top -------------------------------------------------- */
.btt{
    background-color: var(--cor-base);
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 100px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 10;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out; 
    box-shadow: 5px 5px 5px 0px rgba(0,0,0, 0.1);
}

.btt:hover{
    transform: scale(1.02);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 1 !important;
}

.btt i{
    height: 100%;
    width: 100%;
    display: flex;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2.7em;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

/* Home ---------------------------------------------------------*/
#home{
    padding: 30px 0 30px 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap: 10%px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0, 0.05);
    z-index: 1;
}

.texto-home{
    width: 500px;
    height: 500px;
    font-family: var(--cambria);
    font-weight: 500;
    text-align: center;
    padding: 15px 25px 15px 35px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.texto-home p{
    font-size: 1.3em;
    text-align: justify;
}

.foto-home img{
    display: block;
    width: 400px;
    border-radius: 20px;
    margin-right: 10px;
}

#home button {
    padding: 15px 35px;
    background-color: var(--cor-base);
    font-size: 16px;
    font-family: var(--josefin);
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#home button:hover{
    filter: brightness(1.2);
    transform: scale(1.03);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Sobre ---------------------------------------------------------*/

#sobre{
    background-color:  #f0f0f0;
    justify-content: space-around;
    display: flex;
    gap: 30px;
    padding: 15px 0 15px 0;
}

.content-sobre{
    width: 500px;
    font-family: var(--cambria);
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 30px 0 30px 0;
}

.content-sobre p{
    margin: 0;
    font-size: 1.3em;
    text-align: justify;
}

.foto-sobre{
    padding: 30px 0 30px 0;
    border-radius: 20px;
}

.foto-sobre img{
    display: block;
    width: 400px;
    border-radius: 20px;
}

/* Agende --------------------------------------------------------*/
.agende {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    color: #f0f0f0;
    background-color: var(--cor-base); 
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0, 0.05);
}

.agende::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../components/img/agende.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.05; 
    z-index: 0;
}

.agende * {
    position: relative;
    z-index: 1;
}

.agende button {
    padding: 20px 40px;
    background-color: #f0f0f0;
    font-size: 1em;
    font-family: var(--josefin);
    font-weight: 600;
    color: var(--cor-base);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.agende button:hover{
    filter: brightness(1.1);
    transform: scale(1.03);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.agende p{
    font-size: 1.4em;
    font-weight: 600;
}

.agende a{
    color: var(--cor-base);
    font-size: 1.3em;
}

.agende i{
    font-size: 1.3em;
    margin: 0 8px;
}

/* Depoimentos --------------------------------------------------*/
#depoimentos{
    width: 100%;
    height: 100%;
    padding: 30px 0px 20px 0;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    font-family: var(--cambria);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0, 0.05);
}

#depoimentos h1{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 40px 0 10px 0 ;
}

.swiper-button-prev,
.swiper-button-next {
    color: #00000054;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    font-weight: bold;
    transform: translateY(-50%);
    background-color: rgba(153, 205, 50, 0);
    overflow: visible;
    display: flex;
    z-index: 15; 
}

.swiper-button-prev{
    left: 0;
}

.swiper-button-next{
    right: 0;
}

.swiper-pagination{
    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: #00000080;
}

.swiper-container {
    width: 100%;
    margin: 0 auto;
}

.swiper-slide {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    width: auto;
    height: auto;
}

.quote{
    font-style: italic;
    font-size: 24px;
    font-family: var(--cambria);
    box-sizing: border-box;
    text-align: start;
    display: flex;
    z-index: 13;
    padding: 30px 60px 30px 60px;
    display: block;
    margin: 0;
}

.autor{
    font-weight: bold;
    font-size: 22px;
    padding: 30px;
    display: block;
    box-sizing: border-box;
}

/* Serviços ------------------------------------------------------*/

#servicos{
    background-color: #f0f0f0;
    justify-content: space-around;
    display: flex;
    gap: 20px;
}

.content-servicos{
    width: 900px;
    font-family: var(--cambria);
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 30px 0 30px 0;
}

.content-servicos i{
    font-size: 2.5em;
    padding: 15px 25px 15px 15px;
    color: var(--cor-base);
}

.content-servicos p{
    font-size: 1.3em;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* FAQ ---------------------------------------------------------------*/

#faq{
    margin:0;
    padding: 20px 0 30px 0;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0, 0.05);
    z-index: 1;
}

#faq h1 {
    font-family: var(--cambria);
    font-weight: 600;
    padding: 30px 0px 20px 0;
    margin: 0px;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 20px;
}

.accordion-item{
    color: #fff;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0, 0.1);
    background-color: var(--cor-base);
}

.accordion-item-header{
    padding: 10px 50px 10px 15px;
    min-height: 53px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: var(--cor-base);
    border-radius: 10px;
    transition: filter 0.5s ease-out, transform 0.5s ease-out;
}

.accordion-item-header.active{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion-item-header::after{
    content: "\002B";
    font-size: 36px;
    position: absolute;
    right: 20px;
    transform: rotate(0deg);
    transition: transform 0.3s  linear ;    
}

.accordion-item-header.active::after{
    transform: rotate(135deg);
    transition: transform 0.3s  linear;
}

.accordion-item:hover{
    filter: brightness(1.06);
    transform: scale(1.03);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    box-shadow: 15px 15px 15px 0 rgba(0,0,0, 0.07);
}

.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion-item-body-content{
    padding: 20px;
    line-height: 1.5rem;
    border-top: 1px solid #34495e;
    border-image: linear-gradient(to right, transparent,  #34495e, transparent) 1;
    color: #000;
    background-color: var(--cor-base);
    filter: brightness(1.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-item-header.active + .accordion-item-body{
    max-height: 1000px;
}

/* Contato------------------------------------------------------------ */

#contato{
    background-color: #f0f0f0;
}

#contato h1 {
    font-family: var(--cambria);
    font-weight: 700;
    /* font-size: 2.5em; */
    padding: 30px 0px 30px 0;
    margin: 0px;
    flex-wrap: nowrap;
}

#contato a{
    color: #3b3b3b;
}

.contato-wrapped{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0px 20px 20px 20px;
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.contato-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato-item {
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    position: relative; 
    overflow: hidden; 
    z-index: 1; 
}

.contato-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-base); 
    filter: brightness(1); 
    z-index: -1; 
    opacity: 0; 
}

.contato-item:hover::before {
    opacity: 1; 
    filter: brightness(1.9); 
}

.contato a:link{
    color: rgb(88, 88, 88);
}

.redes-sociais {
    display: flex;
    color: rgb(88, 88, 88);
    justify-content: space-around;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
}

.redes-sociais ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 20px 0 5px 0;
    font-size: 30px;
    color: var(--cor-base);
}

.redes-sociais ul li a {
    display: flex;
    position: relative;
    overflow: hidden; 
    z-index: 1; 
}

.redes-sociais a:link,
.redes-sociais a:visited {
    color: #000;
    padding: 15px;
    border-radius: 50px;
    background-color: #f0f0f0;
    ; 
}

.redes-sociais a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cor-base); 
    filter: brightness(1); 
    z-index: -1; 
    opacity: 0; 
    border-radius: 50px; 
}

.redes-sociais a:hover::before {
    opacity: 1; 
    filter: brightness(1.9); 
}

footer {
    position: relative;
    z-index: 2;
    height: 6em;
    background-color: var(--cor-base);
    font-family: var(--josefin);
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) and (min-width: 992px){

    .foto-home img{
        width: 350px;
    }

    #home{
        gap: 20px;
    }

    .foto-sobre img{
        width: 300px;
    }
    
    .content-sobre{
        font-size: 0.9em;
    }

    .content-sobre h1{
        margin: 5px; 
    }

    .content-servicos{
        font-size: 0.9em;
    }

    .content-servicos h1{
        margin: 5px; 
    }

    #faq {
        width: auto;
        margin: 10px;
    }
}

@media (max-width: 992px) and (min-width: 768px)  {

    #home{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }
    
    #home button {
        margin-top: 30px;
    }

    .container {
        width: 100%;
        background-color: white; 
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .foto-home {
        display: flex;
        justify-content: center; 
        align-items: center; 
        overflow: hidden; 
        height: auto; 
        max-height: 100%; 
    }

    .foto-home img {
        max-width: 100%;
        max-height: 100%;
        height: auto; 
        width: auto;
    }

    #sobre{
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }

    .content-sobre{
        margin: auto;
        width: 500px;
        height: auto;
    }

    .content-sobre h1{
        margin: 15px;
    }

    .foto-sobre {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .foto-sobre img {
        display: flex;
        width: 300px;
        padding: 15px;
    }

    #servicos{
        display: flex;
        height: auto;
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 0px;
    }

    .content-servicos{
        margin: auto;
        width: 500px;
        height: auto;
    }

    .content-servicos h1{
        margin: 15px;
    }

    #faq {
        width: 80%;
    }

    footer{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
        display: flex;
    }

    #home{
        display: flex;
        text-align: center;
        justify-content: center;
        height: auto;
        gap: 0;
        box-shadow: none;
    } 

    h1{
        font-size: 2em;
    }

    .foto-home img{
        display: none;
    }

    .texto-home{
        padding: 25px;
    }

    .texto-home h1{
        margin: 30px 0;
    }

    #sobre{
        display: flex;
        align-items: start;
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    
    .content-sobre {
        width: 500px;
        box-sizing: border-box; 
        padding: 25px;
        text-align: center;
    }
    
    .foto-sobre img{
        display: none;
    }

    .content-sobre h1{
        margin: 15px;
    }

    .content-sobre p{
        margin: 15px 0;
    }

    .agende button {
        padding: 15px 30px !important;
        font-size: 16px !important;
    }

    .agende p{
        display: none;
    }
    
    .agende a{
        color: var(--cor-base);
        font-size: 1em;
    }
    
    .agende i{
        font-size: 1.2em;
        margin: 0 8px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: rgb(230, 230, 230);
        display: none;
    }

    .quote{
        font-size: 20px;
        text-align: justify;
        padding: 0;
        margin: 15px 0;
    }

    .autor{
        font-size: 21px;
    }

    #depoimentos{
        padding: 25px;
    }

    #depoimentos h1{
        margin: 15px;
    }

    #servicos{
        display: flex;
        align-items: start;
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    
    .content-servicos {
        box-sizing: border-box; 
        padding: 20px;
        text-align: center;
    }

    .content-servicos h1{
        margin: 15px;
    }
    
    .content-servicos i{
        padding: 0px 10px 0px 0px;
        color: var(--cor-base);
    }
    
    .content-servicos p{
        font-size: 1.1em;
        text-align: justify;
        align-items: center;
        display: flex;
    }

    footer {
        display: block;
        font-size: 14px;
        text-transform:inherit;
        text-align: center;
        justify-content: center;
        white-space: pre-wrap;
    }
    
    footer span{
        align-items: center;
    }

    footer #nome {
        display: block;
    }

    footer #crp {
        margin-top: 0.3em;
    }
    
    #faq {
        margin: 0;
        padding: 30px auto;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    #faq h1 {
        font-family: var(--cambria);
        /* font-size: 2em; */
        padding: 0px 0px 15px 0;
        margin: 0px;
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accordion-item{
        font-size: 18px;
    }

    #logo img{
        margin: 0;
    }

    .post-text{
        top: -20px;
        width: 72%;
    }
}