<div class="autor-box">
    <div class="autor">
        <img src="../components/img/photo-author.jpg" alt="">

        <div class="autor-perfil">
            <h2>Ana Carolline Coelho</h2>
            <p>Sou psicóloga (CRP 06/154233) com atuação clínica desde 2019, em atendimentos online para adolescentes e adultos. Trabalho com base na psicanálise, adaptada aos desafios do presente.
            <br>
            Acredito em uma escuta profunda, sensível e acolhedora. Tenho formações complementares em temas como ansiedade, TOC, compulsão, burnout e comunicação não violenta. Atendo principalmente mulheres jovens, com presença e afeto — respeitando o tempo de cada processo..</p>
        </div>
    </div>

    <div class="sociais-redes">
        <ul>
            <li>
                <a href="https://www.instagram.com/anacpsicologa" target="_blank"><i class="fa-brands fa-instagram" aria-label="Link para o instagram" rel="noopener noreferrer"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/anacpsicologa" target="_blank"><i class="fa-brands fa-facebook" aria-label="Link para o facebook" rel="noopener noreferrer"></i></a>
            </li>
            <li>
                <a href="https://wa.me/5511949186999"  target="_blank"><i class="fa-brands fa-whatsapp" aria-label="Agendar consulta pelo WhatsApp" rel="noopener noreferrer"></i></a>
            </li>
            <li>
                <a href="mailto:anacpsicologa@icloud.com" target="_blank"><i class="fa-regular fa-envelope" aria-label="Marcar consulta por email" rel="noopener noreferrer"></i></a>
            </li>
        </ul>
    </div>

</div>